//Variables

:root {
  --color-black:#343948;
  --color-yellow: #FEAC57;
}

body {
  margin: 0;
}

.wrapper-w {
  max-width: 1920px;
  background-color: #FB909B;
  margin: 0 auto;
}

.bg-primary {
  background: #FB909B;
}
